type
	project
description
	Tools to help write tests for Microdot services.
    The project contains logic for both Orleans and Non-Orleans host testers.
projectUrl
	https://github.com/gigya/microdot
licenseUrl
	https://github.com/gigya/microdot/blob/master/LICENSE.md
tags
	gigya microdot microservice microservices fakes mocks mocking unit-testing