source https://api.nuget.org/v3/index.json
source http://nuget.gigya.net/nugetForVS/nuget/

framework: auto-detect
redirects: off
content: once
copy_content_to_output_dir: always

nuget Gigya.ServiceContract

# .Net
nuget Microsoft.CSharp
nuget System.ComponentModel.Annotations
nuget System.Data.DataSetExtensions
nuget System.Diagnostics.PerformanceCounter
nuget System.Net.Http
nuget System.Runtime.Caching
nuget System.ServiceProcess.ServiceController
nuget System.ValueTuple
nuget System.Reflection.Emit
nuget System.Configuration.ConfigurationManager # For some reason Infra tests can't resolve it, while Microdot tests can

#
nuget Newtonsoft.Json
nuget Nito.AsyncEx
nuget System.Threading.Tasks.Dataflow
nuget ZooKeeperNetEx

# Orleans
nuget Microsoft.Orleans.Core >= 3.4.1
nuget Microsoft.Orleans.OrleansRuntime >= 3.4.1
nuget Microsoft.Orleans.OrleansProviders >= 3.4.1
nuget Microsoft.Orleans.OrleansSqlUtils 
nuget Microsoft.Orleans.OrleansZooKeeperUtils >= 3.4.1
nuget Microsoft.Orleans.OrleansCodeGenerator >= 3.4.1
nuget Microsoft.Orleans.CodeGenerator.MSBuild >= 3.4.1
nuget Microsoft.Orleans.Client >= 3.4.1
nuget Microsoft.Orleans.OrleansTelemetryConsumers.Counters  >= 3.4.1
nuget Microsoft.AspNetCore.Http.Features
nuget Microsoft.Extensions.Primitives
nuget Microsoft.Orleans.Server  >= 3.4.1
nuget Microsoft.Orleans.Core.Abstractions >= 3.4.1
nuget Microsoft.Orleans.Connections.Security >= 3.4.1
nuget Gigya.OrleansDashboard.NetStandard == 3.0.8.0
# TODO: remove this dependency once we move to dotnet core and go back to using the original dashboard 
nuget System.Text.Json
nuget LibLog ~> 4.2.3

nuget Microsoft.AspNetCore.Hosting
nuget Microsoft.AspNetCore.Server.Kestrel
nuget Microsoft.CodeAnalysis.CSharp
nuget Microsoft.CodeAnalysis.Common

# Ninject
nuget Ninject
nuget Ninject.Extensions.Factory
nuget Ninject.Extensions.Conventions
nuget Castle.Core

# Tests only dependencies
nuget NUnit ~> 3.0
nuget NUnit3TestAdapter ~> 3.15
nuget RichardSzalay.MockHttp ~> 5.0
nuget NSubstitute ~> 4.0
nuget FluentAssertions ~> 5.0
nuget Nuget.CommandLine ~> 5.0
nuget Shouldly ~> 3.0
nuget NLog ~> 4.0
nuget Microsoft.NET.Test.Sdk
