source https://api.nuget.org/v3/index.json 
source http://nuget.gigya.net/nugetForVS/nuget/

framework: auto-detect
redirects: off
content: once
copy_content_to_output_dir: always

# Pinning to 3.1.17 as 5.0.0+ are net5 nugets
nuget Microsoft.AspNetCore.Http.Features == 3.1.17
nuget Microsoft.AspNetCore.Connections.Abstractions == 3.1.17
nuget Microsoft.Extensions.Primitives == 3.1.17
nuget Microsoft.Extensions.Configuration.Abstractions == 3.1.17
nuget Microsoft.Extensions.Options == 3.1.17
nuget Microsoft.Extensions.DependencyInjection.Abstractions == 3.1.17
nuget Microsoft.Extensions.Logging == 3.1.17
nuget Microsoft.Extensions.Logging.Abstractions == 3.1.17
nuget Microsoft.Extensions.Configuration == 3.1.17
nuget Microsoft.Extensions.Configuration.Binder == 3.1.17
nuget Microsoft.Extensions.Configuration.EnvironmentVariables == 3.1.17
nuget Microsoft.Extensions.Configuration.FileExtensions == 3.1.17
nuget Microsoft.Extensions.DependencyInjection == 3.1.17
nuget Microsoft.Extensions.DependencyModel == 3.1.6
nuget Microsoft.Extensions.FileProviders.Abstractions == 3.1.17
nuget Microsoft.Extensions.FileProviders.Physical == 3.1.17
nuget Microsoft.Extensions.FileSystemGlobbing == 3.1.17
nuget Microsoft.Extensions.Hosting.Abstractions == 3.1.17
nuget Microsoft.Extensions.Logging.Configuration == 3.1.17
nuget Microsoft.Extensions.Logging.Console == 3.1.17
nuget Microsoft.Extensions.ObjectPool == 3.1.17
nuget Microsoft.Extensions.Options.ConfigurationExtensions == 3.1.17



nuget Gigya.ServiceContract ~> 2.7.7

# .Net
# Pinning to 4.7.0 as 5.0.0+ are net5 nugets
nuget Microsoft.CSharp ~> 4.7
nuget System.ComponentModel.Annotations ~> 4.7
nuget System.Diagnostics.PerformanceCounter ~> 4.7
nuget System.Runtime.Caching ~> 4.7
nuget System.ServiceProcess.ServiceController ~> 4.7
nuget System.Reflection.Emit ~> 4.7
nuget System.Configuration.ConfigurationManager ~> 4.7

nuget System.Data.DataSetExtensions
nuget System.Net.Http
nuget System.ValueTuple


#
nuget Newtonsoft.Json ~> 12
nuget Nito.AsyncEx ~> 5.0
nuget System.Threading.Tasks.Dataflow ~> 4.0
nuget ZooKeeperNetEx ~> 3.0

# Orleans
nuget Microsoft.Orleans.Core == 3.4.1
nuget Microsoft.Orleans.OrleansRuntime == 3.4.1
nuget Microsoft.Orleans.OrleansProviders == 3.4.1
nuget Microsoft.Orleans.OrleansZooKeeperUtils == 3.4.1
nuget Microsoft.Orleans.OrleansCodeGenerator == 3.4.1
nuget Microsoft.Orleans.CodeGenerator.MSBuild == 3.4.1
nuget Microsoft.Orleans.Client == 3.4.1
nuget Microsoft.Orleans.OrleansTelemetryConsumers.Counters == 3.4.1
nuget Microsoft.Orleans.Server == 3.4.1
nuget Microsoft.Orleans.Core.Abstractions == 3.4.1
nuget Microsoft.Orleans.Connections.Security == 3.4.1

nuget Microsoft.Orleans.OrleansSqlUtils ~> 2.4

nuget Microsoft.AspNetCore.Hosting ~> 2.2
nuget Microsoft.AspNetCore.Server.Kestrel ~> 2.2
nuget Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets == 2.2.1



# TODO: remove this dependency once we move to dotnet core and go back to using the original dashboard 
nuget Gigya.OrleansDashboard.NetStandard ~> 3

nuget LibLog ~> 4.2.3

nuget Microsoft.CodeAnalysis.CSharp ~> 3
nuget Microsoft.CodeAnalysis.Common ~> 3

# Ninject
nuget Ninject ~> 3.3
nuget Ninject.Extensions.Factory ~> 3.3
nuget Ninject.Extensions.Conventions ~> 3.3
nuget Castle.Core ~> 4

# Tests only dependencies
nuget NUnit ~> 3
nuget NUnit3TestAdapter ~> 3
nuget RichardSzalay.MockHttp ~> 5
nuget NSubstitute ~> 4
nuget FluentAssertions ~> 5
nuget Nuget.CommandLine ~> 5
nuget Shouldly ~> 3
nuget NLog ~> 4
nuget Microsoft.NET.Test.Sdk ~> 16
