type
	project
description
	A container used to host non-Orleans Microdot service which uses Ninject
	for	dependency injection. Incoming HTTP calls (via Gigya.Microdot.ServiceProxy)
	are dispatched to a specified class instance. Part of the Microdot framework.
projectUrl
	https://github.com/gigya/microdot
tags
	gigya microdot microservice microservices ninject ioc di