type
	project
description
	ServiceProxy is used to call remote Microdot services. It is a
	runtime-generated transparent proxy which implements the remote	service's
	public interface, translating all calls performed on it to HTTP calls.
	Part of the Microdot framework.
projectUrl
	https://github.com/gigya/microdot
licenseUrl
	https://github.com/gigya/microdot/blob/develop/LICENSE.md
tags
	gigya microdot microservice microservices serviceproxy http rpc