type
	project
description
	A configuration system based on a hierarchy of XML files, the values of
	which are accessed using strongly-typed configuration objects. Supports
	modification of the files on live service, environment variable substitution,
	encryption and collections. Part of the Microdot framework.
projectUrl
	https://github.com/gigya/microdot
licenseUrl
	https://github.com/gigya/microdot/blob/master/LICENSE.md
tags
	gigya microdot microservice microservices configuration
