type
	project
description
	Various components and utilities shared between different parts of the Microdot framework.
projectUrl
	https://github.com/gigya/microdot
tags
	gigya microdot microservice microservices