type
	project
description
	A Collection of fakes for various Microdot components, used for testing.
	Part of the Microdot framework. See also Gigya.Microdot.Testing.
projectUrl
	https://github.com/gigya/microdot
tags
	gigya microdot microservice microservices fakes mocks mocking unit-testing