type
	project
description
	Ninject modules, providers and binding resolvers for various Microdot
	components, part of the Microdot framework.
projectUrl
	https://github.com/gigya/microdot
licenseUrl
	https://github.com/gigya/microdot/blob/master/LICENSE.md
tags
	gigya microdot microservice microservices ninject ioc di