type
	project
description
	Infrastructure used for hosting Orleans Microdot services, part of the
	Microdot framework.
projectUrl
	https://github.com/gigya/microdot
tags
	gigya microdot microservice microservices