type
	project
description
	Infrastructure used for hosting Orleans Microdot services, part of the
	Microdot framework.
projectUrl
	https://github.com/gigya/microdot
licenseUrl
	https://github.com/gigya/microdot/blob/develop/LICENSE.md
tags
	gigya microdot microservice microservices